@charset "utf-8";
/* CSS Document */

body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
  background-color: hsl(229, 24%, 87%);
}

.button {
  color: hsl(231, 100%, 99%);
  background-color: hsl(213, 96%, 18%);
  padding: 10px;
}

.botton,
.disabled {
  color: hsl(231, 100%, 99%);
  background-color: grey;
  padding: 10px;
}
